@media screen and (min-width: 961px) and (min-height: 800px) {
  html, body {
    height: 100%;
    margin: 0
  }
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    color: #222;
    -moz-osx-font-smoothing: grayscale;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }


/* for top menu */
ul, ol, li {
    margin: 0;
    padding: 0;
}

.row-default {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
  .row .row {
    max-width: none;
    margin-left: -0.625rem;
    margin-right: -0.625rem; }
    @media screen and (min-width: 40em) {
      .row .row {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem; } }
  .row.expanded {
    max-width: none; }
  .row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }

.column, .columns {
  -ms-flex: 1 1 0px;
      flex: 1 1 0px;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  min-width: initial; }
  @media screen and (min-width: 40em) {
    .column, .columns {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }

.column.row.row, .row.row.columns {
  float: none;
  display: block; }
  .row .column.row.row, .row .row.row.columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }



@media screen and (max-width: 990px) {
  .top-margin {
    margin-top: 1em;
  }
}

.desktop-menu {
  height: auto;
  overflow: visible;
}
  .desktop-menu .menu-wrap {
    display: table;
    width: 100%; }
    .desktop-menu .menu-wrap > div {
      display: table-cell;
      vertical-align: middle; }
    .desktop-menu .menu-wrap > .logo {
      width: 300px;
      vertical-align: middle; }
      .desktop-menu .menu-wrap > .logo img {
        max-width: 300px;
        margin: 0; }
      .desktop-menu .menu-wrap > .logo a {
        display: inline-block; }
    .desktop-menu .menu-wrap > .menu {
      padding-left: 15px; }
      .desktop-menu .menu-wrap > .menu .menu-list {
        display: table;
        width: 100%;
        max-width: 620px;
        margin: 0;
        margin-left: auto; }
        .desktop-menu .menu-wrap > .menu .menu-list > li {
          display: table-cell;
          text-align: right;
          vertical-align: middle;
          height: 105px; }
          .desktop-menu .menu-wrap > .menu .menu-list > li > a {
            display: inline-block;
            font-size: 1rem;
            font-weight: 600;
            color: #222222;
            padding: 40px 0;
            margin: 0 12px;
            white-space: nowrap;
            text-transform: uppercase; }
          .desktop-menu .menu-wrap > .menu .menu-list > li:first-child a {
            margin-left: 0; }
          .desktop-menu .menu-wrap > .menu .menu-list > li:last-child a {
            margin-right: 0; }
      .desktop-menu .menu-wrap > .menu .menu-item {
        position: relative; }
        .desktop-menu .menu-wrap > .menu .menu-item.menu-item-has-children > a:after {
          font-family: 'fontello';
          content: "\2304";
          margin-left: 5px;
          opacity: 0.5; }
        .desktop-menu .menu-wrap > .menu .menu-item:hover > .sub-menu {
          max-height: 90000px;
          overflow: visible;
          opacity: 1;
          transition: opacity 0.3s, max-height 0s 0s, padding 0s 0s; }
        .desktop-menu .menu-wrap > .menu .menu-item:hover > a {
          color: #1d1d1d; }
      .desktop-menu .menu-wrap > .menu .sub-menu {
        position: absolute;
        margin: 0;
        list-style-type: none;
        width: 350px;
        max-height: 0;
        opacity: 0;
        top: 100%;
        overflow: hidden;
        background: #444;
        transform: translateZ(0);
        z-index: 6;
        transition: opacity 0.3s, max-height 0s 0.3s, padding 0s 0.3s; }
        .desktop-menu .menu-wrap > .menu .sub-menu:before {
          position: absolute;
          z-index: 8;
          content: '';
          width: 100%;
          border-top: 0px;
          left: 0; }
        .desktop-menu .menu-wrap > .menu .sub-menu .menu-item {
          background: #444;
          transition: background 0.2s; }
          .desktop-menu .menu-wrap > .menu .sub-menu .menu-item:hover {
            background: #4e4f51; }
          .desktop-menu .menu-wrap > .menu .sub-menu .menu-item > a {
            border-bottom: 1px solid rgba(10, 10, 10, 0.1);
            display: block;
            color: white;
            text-align: left;
            font-size: 0.9375rem;
            padding: 10px 12px;
            padding-right: 44px;
            position: relative; }
          .desktop-menu .menu-wrap > .menu .sub-menu .menu-item:last-child > a {
            border: 0; }
          .desktop-menu .menu-wrap > .menu .sub-menu .menu-item.menu-item-has-children > a:after {
            font-family: 'fontello';
            content: "\2304";
            color: #fefefe;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-weight: normal; }
        .desktop-menu .menu-wrap > .menu .sub-menu .sub-menu {
          left: 100%;
          top: 0; }
          .desktop-menu .menu-wrap > .menu .sub-menu .sub-menu .menu-item {
            background: #f58432; }
            .desktop-menu .menu-wrap > .menu .sub-menu .sub-menu .menu-item:hover {
              background: #f6934a; }
      .desktop-menu .menu-wrap > .menu .menu-item-right .sub-menu {
        right: 0; }
        .desktop-menu .menu-wrap > .menu .menu-item-right .sub-menu .sub-menu {
          right: 100%;
          left: auto; }

.mobile-menu {
  height: auto;
  overflow: visible; }
  @media screen and (min-width: 64em) {
    .mobile-menu {
      display: none;
      height: 0;
      overflow: hidden; } }
  .mobile-menu .menu-wrap {
    display: table;
    width: 100%; }
    .mobile-menu .menu-wrap .menu-buttons a {
      color: #f58432; }
    .mobile-menu .menu-wrap > div {
      display: table-cell;
      vertical-align: middle; }
    .mobile-menu .menu-wrap > .logo {
      position: relative;
      width: 60px;
      vertical-align: middle; }
      .mobile-menu .menu-wrap > .logo img {
        width: 100%;
        max-width: 300px;
        margin: 6px 0; }
      .mobile-menu .menu-wrap > .logo a {
        display: inline-block;
        font-weight: bold; }
    .mobile-menu .menu-wrap > .menu {
      background: #f58432;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 0.3s, max-height 0s 0.3s; }
      .mobile-menu .menu-wrap > .menu.open {
        opacity: 1;
        overflow: visible;
        max-height: 99999px;
        transition: opacity 0.3s, max-height 0s; }
      .mobile-menu .menu-wrap > .menu .menu-list,
      .mobile-menu .menu-wrap > .menu .sub-menu {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateZ(0);
        padding: 0 1px;
        transition: transform 0.3s, max-height 0s 0.3s, padding 0s 0.3s; }
        .mobile-menu .menu-wrap > .menu .menu-list .menu-parent,
        .mobile-menu .menu-wrap > .menu .menu-list .menu-parent:hover,
        .mobile-menu .menu-wrap > .menu .sub-menu .menu-parent,
        .mobile-menu .menu-wrap > .menu .sub-menu .menu-parent:hover {
          font-size: 120%;
          color: white; }
        .mobile-menu .menu-wrap > .menu .menu-list .menu-back,
        .mobile-menu .menu-wrap > .menu .menu-list .menu-back:hover,
        .mobile-menu .menu-wrap > .menu .sub-menu .menu-back,
        .mobile-menu .menu-wrap > .menu .sub-menu .menu-back:hover {
          border-bottom: 1px solid white;
          opacity: 0.5;
          font-size: 80%;
          line-height: 1em;
          padding: 10px 0px; }
        .mobile-menu .menu-wrap > .menu .menu-list.menu-list,
        .mobile-menu .menu-wrap > .menu .sub-menu.menu-list {
          padding: 15px; }
        .mobile-menu .menu-wrap > .menu .menu-list.close,
        .mobile-menu .menu-wrap > .menu .sub-menu.close {
          overflow: visible;
          transform: translateX(-100%); }
      .mobile-menu .menu-wrap > .menu .sub-menu {
        left: 100%;
        max-height: 0;
        overflow: hidden;
        background: #333333; }
        .mobile-menu .menu-wrap > .menu .sub-menu.open {
          padding: 15px;
          overflow: visible;
          max-height: 999999px;
          transition: transform 0.3s, max-height 0.3s, padding 0s; }
      .mobile-menu .menu-wrap > .menu .sub-menu,
      .mobile-menu .menu-wrap > .menu .menu-list {
        margin: 0;
        list-style-type: none; }
        .mobile-menu .menu-wrap > .menu .sub-menu .menu-item-has-children > a,
        .mobile-menu .menu-wrap > .menu .menu-list .menu-item-has-children > a {
          position: relative; }
          .mobile-menu .menu-wrap > .menu .sub-menu .menu-item-has-children > a:after,
          .mobile-menu .menu-wrap > .menu .menu-list .menu-item-has-children > a:after {
            font-family: 'fontello';
            content: ">";
            color: white;
            position: absolute;
            right: 0;
            top: 0;
            font-weight: normal; }
        .mobile-menu .menu-wrap > .menu .sub-menu > li,
        .mobile-menu .menu-wrap > .menu .menu-list > li {
          text-align: left; }
          .mobile-menu .menu-wrap > .menu .sub-menu > li > a,
          .mobile-menu .menu-wrap > .menu .sub-menu > li > a:hover,
          .mobile-menu .menu-wrap > .menu .menu-list > li > a,
          .mobile-menu .menu-wrap > .menu .menu-list > li > a:hover {
            display: block;
            font-size: 1.125rem;
            font-weight: 500;
            color: white;
            padding: 0;
            margin: 10px 0px; }



.header.desktop-menu,
.header.mobile-menu {
  position: absolute;
  z-index: 99;
  width: 100%; }
  .header.desktop-menu:before,
  .header.mobile-menu:before {
    display: block;
    content: '';
    background: #fefefe;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s; }
  .header.desktop-menu .menu-wrap .logo,
  .header.mobile-menu .menu-wrap .logo {
    position: relative; }
    .header.desktop-menu .menu-wrap .logo > .logo-dark,
    .header.mobile-menu .menu-wrap .logo > .logo-dark {
      position: absolute;
      opacity: 0; }
    .header.desktop-menu .menu-wrap .logo > .logo-light,
    .header.mobile-menu .menu-wrap .logo > .logo-light {
      opacity: 1; }
  .header.desktop-menu.open, .header.desktop-menu.menu-fixed,
  .header.mobile-menu.open,
  .header.mobile-menu.menu-fixed {
    transform: translateY(0);
    transition: transform 0.3s; }
    .header.desktop-menu.open:before, .header.desktop-menu.menu-fixed:before,
    .header.mobile-menu.open:before,
    .header.mobile-menu.menu-fixed:before {
      transform: translateZ(0); }
    .header.desktop-menu.open.menu-hide, .header.desktop-menu.menu-fixed.menu-hide,
    .header.mobile-menu.open.menu-hide,
    .header.mobile-menu.menu-fixed.menu-hide {
      transform: translateY(-100%);
      transition: transform 0s; }
  .header.desktop-menu.search-open, .header.desktop-menu:hover,
  .header.mobile-menu.search-open,
  .header.mobile-menu:hover {
    transition: transform 0s; }
  .header.desktop-menu.open, .header.desktop-menu.menu-fixed, .header.desktop-menu,
  .header.mobile-menu.open,
  .header.mobile-menu.menu-fixed,
  .header.mobile-menu {
    position: fixed;
    box-shadow: 0 3px 5px 0 rgba(10, 10, 10, 0.1); }
    .header.desktop-menu.open:before, .header.desktop-menu.menu-fixed:before, .header.desktop-menu:before,
    .header.mobile-menu.open:before,
    .header.mobile-menu.menu-fixed:before,
    .header.mobile-menu:before {
      opacity: 1; }
    .header.desktop-menu.open .menu-wrap .logo > .logo-dark, .header.desktop-menu.menu-fixed .menu-wrap .logo > .logo-dark, .header.desktop-menu .menu-wrap .logo > .logo-dark,
    .header.mobile-menu.open .menu-wrap .logo > .logo-dark,
    .header.mobile-menu.menu-fixed .menu-wrap .logo > .logo-dark,
    .header.mobile-menu .menu-wrap .logo > .logo-dark {
      opacity: 1; }
    .header.desktop-menu.open .menu-wrap .logo > .logo-light, .header.desktop-menu.menu-fixed .menu-wrap .logo > .logo-light, .header.desktop-menu .menu-wrap .logo > .logo-light,
    .header.mobile-menu.open .menu-wrap .logo > .logo-light,
    .header.mobile-menu.menu-fixed .menu-wrap .logo > .logo-light,
    .header.mobile-menu .menu-wrap .logo > .logo-light {
      opacity: 0; }

.header.mobile-menu .menu-list {
  background-size: cover;
  position: relative; }
  .header.mobile-menu .menu-list > li > a {
    position: relative; }
  .header.mobile-menu .menu-list:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #faa333;
    opacity: 0.95; }

.header.mobile-menu .menu-search {
  position: absolute;
  background: #f58432;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  box-shadow: inset 0 9px 5px -5px rgba(10, 10, 10, 0.1), 0 3px 5px 0 rgba(10, 10, 10, 0.1);
  transition: box-shadow 0.3s, opacity 0.3s, max-height 0s 0.3s; }
  .header.mobile-menu .menu-search > div {
    padding: 40px 0; }
  .header.mobile-menu .menu-search.open {
    max-height: 999999999px;
    opacity: 1;
    transition: box-shadow 0.3s, opacity 0.3s, max-height 0s; }

.header.mobile-menu .menu-buttons {
  text-align: right;
  white-space: nowrap; }
  .header.mobile-menu .menu-buttons a {
    font-size: 1.5rem;
    margin-left: 10px; }

.header.mobile-menu .menu-wrap > .menu {
  box-shadow: inset 0 9px 5px -5px rgba(10, 10, 10, 0.1), 0 3px 5px 0 rgba(10, 10, 10, 0.1); }

.header.mobile-menu.open .menu-buttons .menu-button, .header.mobile-menu.menu-fixed .menu-buttons .menu-button, .header.mobile-menu:hover .menu-buttons .menu-button {
  color: #222; }

.header.mobile-menu .menu-button.open {
  color: #f58432 !important; }

.header.desktop-menu .menu-list > li:last-child {
  padding-left: 15px; }

.header.desktop-menu.menu-fixed .logo img {
  margin: 10px 0;
  max-width: 230px; }

.header.desktop-menu.menu-fixed .sub-menu, .header.desktop-menu:hover .sub-menu {
  box-shadow: inset 0 9px 5px -5px rgba(10, 10, 10, 0.1), 0 3px 5px 0 rgba(10, 10, 10, 0.1); }

.header.desktop-menu.menu-fixed .menu .menu-list > li:not(:hover) > a, .header.desktop-menu:hover .menu .menu-list > li:not(:hover) > a {
  color: #222; }

.header.desktop-menu .menu-item > .icon-search {
  font-size: 1.25rem !important; }

.btn.btn-search {
    background-color: #faa333;
    color: #fefefe;
}

.ng-scope .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ng-scope .row {
    /*max-width: 75rem; */
    max-width: none;
    margin-right: -15px;
    margin-left: -15px;
    flex-flow: row wrap;
}

table.table-striped {
  color: #0a0a0a;
}

table.table-striped th {
  background: #f58432;
  border-color: #f58432;
}

table tr th {
  color: white;
}

table.table-striped th {
  font-weight: normal;
  font-family: "Raleway", sans-serif;
}

a:hover, a:focus {
    text-decoration: none;
}

p.lead {
  font-size: 1.25rem;
  line-height: 1.5;
}

.blank-value {
    color: red;
}

table.table-striped tr:hover, table.table-striped tr:nth-child(odd):hover {
    background: hsla(25, 12%, 86%, 1);
}

table.table-striped tr:nth-child(odd) {
    background: hsla(25, 12%, 93%, 1);
}

#main-view {
  padding-top: 9em;
}

.table.table-striped tfoot tr {
  font-size: 1.1em;
}

.table.table-striped tbody tr.subtotal-row {
  font-weight: bold;
}

.checkbox-inline.not-actually-checkbox {
  margin-left: 0;
  padding-left: 15px;
}

.modal-body .blacklist-list {
  padding-left: 4em;
}

.desktop-menu .menu-wrap > .menu .sub-menu .menu-item > a:hover {
  color: #262626;
}

.btn-primary.ersa-theme {
  background-color: #faa333;
  border-color: #f99b1f;
}

.btn-primary.active.ersa-theme, .btn-primary:active.ersa-theme, .open>.dropdown-toggle.btn-primary.ersa-theme {
  background-color: #f48d06;
  border-color: #d17905;
}

.st-sort-ascent:before {
  content: '\25B2';
}

.st-sort-descent:before {
  content: '\25BC';
}

.total-not-relevant {
  color: grey;
}

tr.total-not-relevant td:first-child ::after {
  content: ' (total is for all rows, not just filtered)'
}

.box-ancestor {
  height: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .box-header {
  flex: 0 1 auto;
}

.box .box-content {
  flex: 1 1 auto;
}

table.flexy-table.content {
  margin-bottom: 1em;
}

table.flexy-table {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
}

table.flexy-table * {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
}

table.flexy-table thead {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

table.flexy-table tbody {
  overflow-y: auto;
  display: inline-block;
}

table.flexy-table thead > tr, table.flexy-table tbody > tr, table.flexy-table tfoot > tr {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

table.flexy-table thead, table.flexy-table tfoot {
  flex-shrink: 0;
}

table.flexy-table thead tr, table.flexy-table tfoot tr {
  padding-right: 1em;
}

table.flexy-table thead tr, table.table-striped.flexy-table thead tr:nth-child(odd) {
  background: #f58432;
}

table.flexy-table th, table.flexy-table tbody td, table.flexy-table tfoot td {
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

table.flexy-table tfoot {
  display: inline-block;
}

table.flexy-table tfoot td {
  width: 100%;
  display: inline-block;
}
table.flexy-table tfoot td.filler-cell {
  width: 0%;
  padding: 0;
}

table.flexy-table thead tr:nth-child(2) th {
  padding: 4px;
  margin-top: -2px;
  border-top: 0;
}

table.flexy-table thead tr:nth-child(2) th:last-child {
  margin-right: -1em;
}

table.flexy-table thead tr:nth-child(2) th:last-child label {
  flex-shrink: 0;
  margin-right: 1em;
}

table.flexy-table thead tr:nth-child(2) th:last-child {
  flex-grow: 1;
  display: flex;
  align-items: baseline;
}

table.flexy-table caption {
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 0;
}

.ng-scope .container-fluid {
  /* Need to get a full width container but stop horizontal scrolling. This works, might not be the best solution though */
  margin-right: 0;
  margin-left: 0;
}

.fullscreen-table {
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}
