.fullscreen {
    width: 100vw;
    height: 100vh;
    display: table;
}

.fullscreen-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-shadow: none;
}

h3 {
    padding-bottom: 20px;
}
