<style>
  .chart-block div {
    margin-top: 4em;
  }
</style>

<div class="container">
  <ersa-bar-chart id="chart1"
    ersa-chart-data="chartData"
    ersa-chart-title="stacked bar chart"
    ersa-chart-height="500"
    ersa-chart-dimension-key="account"
    ersa-chart-group-key="product"></ersa-bar-chart>
  <ersa-bar-chart id="chart2"
    ersa-chart-data="chartData"
    ersa-chart-title="bar chart"
    ersa-chart-height="500"
    ersa-chart-dimension-key="account"></ersa-bar-chart>
  <ersa-bar-chart id="chart3"
    ersa-chart-data="chartData"
    ersa-chart-title="stacked bar chart with datetime axis"
    ersa-chart-height="500",
    ersa-chart-x-type="datetime",
    ersa-chart-dimension-key="account"
    ersa-chart-group-key="product"></ersa-bar-chart>
  </div>
