<img src="img/computers.jpg">
<p>&nbsp;</p>
<div class="row-default">
  <div class="large-12 large-centered column">
    <h2 class="title">Reporting Portal</h2>
    <p class="lead">Since 2015, eRSA has been working toward improving visibility around usage of our Compute and Storage services with both
      local and cloud infrastructures, into quantifiable metrics. This Portal is a result of this work, which focuses on
      collating all service activities with available data assets. These can then be used to effectively measure our growth
      and develop the business.</p>
    <p class="lead">This development release of eRSA’s Reporting Portal aims to offer our external stakeholders the reporting capability
      to inform an evidence based model of decision-making. This version of the release is only being made available to a
      select audience with the appropriate authorisation to view at University Institution level.</p>
  </div>
</div>