<div class="container">
  <h1 class="text-center">Demo for issue 56 - chart widgets</h1>
  <h2>Chart 1: bar+line chart</h2>
  <ersa-line-bar-chart
    elbc-data="allSchoolsRecords"
    elbc-width="780"
    elbc-height="480"
    elbc-bar-y-axis-label="'Cost ($)'"
    elbc-bar-field-name="'cost'"
    elbc-bar-colour="'#f5842f'"
    elbc-line-y-axis-label="'Job count'"
    elbc-line-field-name="'job_count'"
    elbc-line-colour="'#d01c66'"
    elbc-all-filter-label="'All schools'"
    elbc-is-elastic-y="true"></ersa-line-bar-chart>
  <h2>Chart 2: stacked area chart - school breakdown</h2>
  <ersa-stacked-area-chart
    esac-data="allSchoolsRecords"
    esac-width="780"
    esac-height="480"
    esac-y-axis-label="'Cost ($)'"
    esac-filter-field="'organisation'"
    esac-value-field="'cost'"
    esac-all-filter-label="'All schools'"
    esac-is-elastic-y="true"></ersa-stacked-area-chart>
  <h2>Chart 3: stacked area chart - all services</h2>
  <ersa-stacked-area-chart
    esac-data="allServicesRecords"
    esac-width="780"
    esac-height="480"
    esac-y-axis-label="'Cost ($)'"
    esac-filter-field="'service'"
    esac-value-field="'cost'"
    esac-all-filter-label="'All services'"
    esac-is-elastic-y="true"></ersa-stacked-area-chart>
</div>
