<div class="container-fluid">
    <h3 class="text-center">HPC</h3>
    <p ng-show="error" class="alert alert-danger">{{ error }}</p>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div>
        <form>
            <div class="row">
                <div class="col-md-3">
                    <p>Organisation</p>
                    <div class="form-group">
                        <select name="orgSelect" id="orgSelect" ng-model="selectedOrg" ng-change="orgChanged()" class="form-control">
                            <option value="">All</option>
                            <option ng-repeat="org in topOrgs" value="{{ org.pk }}">{{ org.fields.name }}</option>
                        </select>
                    </div>
                </div> 
                <ersa-search class="col-md-9"
                    start-date-class="col-md-4" end-date-class="col-md-4" 
                    button-class="col-md-4" />
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <label class="checkbox-inline"> 
                            <input type="checkbox" ng-model="allQueusSelected" ng-change="selectAllQueues()">All Queues
                        </label>                    
                    </p>
                    <div class="form-group text-center">
                        <label class="checkbox-inline" ng-repeat="(qID, q) in queue">
                            <input type="checkbox" ng-change='onChangeQueu(qID)' ng-init="selectedQueues[qID] = true" ng-model="selectedQueues[qID]">{{ q.name }}
                        </label>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>School</th>
                            <th>Job Count</th>
                            <th>Total Core Hours</th>
                            <th>Total Core Duration</th>
                            <th>Mean Core Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sum in jobSummary | orderBy: 'username'">
                            <td blank-safe="sum.fullname"></td>
                            <td>{{ ::sum.username }}</td>
                            <td blank-safe="sum.email"></td>
                            <td blank-safe="sum.organisation"></td>
                            <td>{{ ::formatNumber(sum.jobCount) }}</td>
                            <td>{{ ::formatNumber(sum.cpuSeconds / 3600) }}</td>
                            <td>{{ ::formatDuration(sum.cpuSeconds, "seconds") }}</td>
                            <td>{{ ::formatDuration(sum.cpuSeconds / sum.jobCount, "seconds") }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
