<div class="container-fluid">
    <h3 class="text-center">HPC</h3>
    <p ng-show="error" class="alert alert-danger">{{ error }}</p>

    <div>

        <form>
            <div class="row">
                <div class="col-md-3">
                    <p>Organisation</p>
                    <div class="form-group">
                        <select name="orgSelect" id="orgSelect" ng-model="selectedOrg" ng-change="orgChanged()" class="form-control">
                            <option value="">All</option>
                            <option ng-repeat="org in topOrgs" value="{{ org.pk }}">{{ org.fields.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <p>Start Date</p>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="rangeStart" is-open="rangeStartOpen" showWeeks="false"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openRangeStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

                <div class="col-md-3">
                    <p>End Date</p>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="rangeEnd" is-open="rangeEndOpen" showWeeks="false" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openRangeEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

                <div class="col-md-3">
                    <p>{{ status }}</p>
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" ng-click="loadJobs()">Update</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" ng-csv="exportSummary()" field-separator="\t" filename="hpc.tsv">Export as TSV</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Queues</p>
                    <div class="form-group text-center">
                        <label class="checkbox-inline" ng-repeat="(qID, q) in queue">
                            <input type="checkbox" ng-model="selectedQueues[qID]">{{ q.name }}
                        </label>
                    </div>
                </div>
            </div>
        </form>

        <div class="row" style="padding-top: 25px;">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>School</th>
                        <th>Job Count</th>
                        <th>Total Core Hours</th>
                        <th>Total Core Duration</th>
                        <th>Mean Core Duration</th>
                    </tr>
                    <tr ng-repeat="sum in jobSummary | orderBy: 'username'">
                        <td>{{ sum.fullname }}</td>
                        <td>{{ sum.username }}</td>
                        <td>{{ sum.email }}</td>
                        <td>{{ sum.organisation }}</td>
                        <td>{{ formatNumber(sum.jobCount) }}</td>
                        <td>{{ formatNumber(sum.cpuSeconds / 3600) }}</td>
                        <td>{{ formatDuration(sum.cpuSeconds, "seconds") }}</td>
                        <td>{{ formatDuration(sum.cpuSeconds / sum.jobCount, "seconds") }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
