<div class="container-fluid">
  <h3 class="text-center">HPC USAGE</h3>
  <p ng-show="error" class="alert alert-danger">{{ error }}</p>
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>
  <div>
    <form>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <p>Select Usage Month</p>
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="MMM/yyyy" ng-model="rangeEnd" is-open="rangeEndOpen"
                datepicker-options="datepickerOptions" ng-required="true" onkeydown="return false"/>
              <span class="input-group-btn">
                <button type="button" class="btn tn-default btn-search" ng-click="openRangeEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-4">
            <p>&nbsp;</p>
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <button type="button" class="btn tn-default btn-search" ng-click="load()">View Usage</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group text-center">
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="viewDetails">View User Detail
            </label>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <table ng-show="viewDetails" ersa-table="hpc-summary.detailed">
          <thead>
            <tr>
              <th>School</th>
              <th>User ID</th>
              <th>User Name</th>
              <th>Email</th>
              <th>Queue</th>
              <th class="text-right">Job Count</th>
              <th class="text-right">Core Hours</th>
              <th class="text-right">Fee</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="sum in jobCounts | orderBy: ['organisation', 'fullname']">
              <td blank-safe="sum.organisation"></td>
              <td>{{ ::sum.owner }}</td>
              <td>{{ ::sum.fullname }}</td>
              <td>{{ ::sum.email }}</td>
              <td>{{ ::sum.queue }}</td>
              <td class="text-right">{{ ::sum.job_count }}</td>
              <td class="text-right">{{ ::formatNumber(sum.hours) }}</td>
              <td class="text-right">${{ ::formatNumber(sum.cost) }}</td>
            </tr>
          </tbody>
        </table>
        <table ng-hide="viewDetails" ersa-table="hpc-summary.simple">
          <thead>
            <tr>
              <th>School</th>
              <th class="text-right">Job Count</th>
              <th class="text-right">Core Hours</th>
              <th class="text-right">Fee</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="sum in subTotals | orderBy: 'organisation'">
              <td blank-safe="sum.organisation"></td>
              <td class="text-right">{{ ::sum.job_count }}</td>
              <td class="text-right">{{ ::formatNumber(sum.hours) }}</td>
              <td class="text-right">${{ ::formatNumber(sum.cost) }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr ng-show="subTotals.length">
              <td><strong>Grand Total</strong></td>
              <td class="text-right"><strong>{{ grandTotal.job_count }}</strong></td>
              <td class="text-right"><strong>{{ formatNumber(grandTotal.hours) }}</strong></td>
              <td class="text-right"><strong>${{ formatNumber(grandTotal.cost) }}</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>