<div class="container-fluid">
    <h3 class="text-center">HPC USAGE</h3>
    <p ng-show="error" class="alert alert-danger">{{ error }}</p>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div>

        <form>
            <div class="row">
                <div class="col-md-4">
                    <p>Organisation</p>
                    <div class="form-group">
                        <select name="orgSelect" id="orgSelect" ng-model="selectedBillingOrg" ng-change="orgChanged()" class="form-control">
                            <option value="0">All</option>
                            <option ng-repeat="org in topOrgs" ng-show="org.billing == org.pk" value="{{ org.billing }}">{{ org.fields.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <p>Select Usage Month</p>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="MMM/yyyy" ng-model="rangeEnd" is-open="rangeEndOpen" showWeeks="false" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'" ng-required="true" onkeydown="return false"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn tn-default btn-search" ng-click="openRangeEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

                <div class="col-md-4">
                    <p>&nbsp;</p>
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn tn-default btn-search" ng-click="load()">View Usage</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default btn-search" ng-csv="export()" filename="hpc.usage.csv">Export as CSV</button>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="hidden">
                <div class="col-md-12">
                    <p class="text-center">
                        <label class="checkbox-inline"> 
                            <input type="checkbox" ng-model="allQueusSelected" ng-change="selectAllQueues()">All Queues
                        </label>                    
                    </p>
                    <div class="form-group text-center">
                        <label class="checkbox-inline" ng-repeat="(qID, q) in queue">
                            <input type="checkbox" ng-change='onChangeQueu(qID)' ng-init="selectedQueues[qID] = true" ng-model="selectedQueues[qID]">{{ q.name }}
                        </label>
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group text-center">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="userChecked" ng-change="orgChanged()"> View Users
                        </label> 
                    </div>                    
                </div>
            </div>            
        </form>

        <div class="row" style="padding-top: 25px;">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr> 
                        <th ng-show="loggedInAsErsaUser">Organisation</th>
                        <th width="20%">School</th>
                        <th ng-show="userChecked">User ID</th>
                        <th ng-show="userChecked">User Name</th> 
                        <th ng-show="userChecked">Email</th> 
                        <th>Job Count</th>
                        <th>Total Core Hours</th> 
                        <th>$</th> 
                    </tr>
                    <tr ng-repeat="sum in jobSummary | orderBy: 'organisation'">
                        <td ng-show="loggedInAsErsaUser">{{ sum.billingName }}</td>
                        <td>{{ sum.organisation }}</td>
                        <td ng-show="userChecked">{{ sum.username }}</td> 
                        <td ng-show="userChecked">{{ sum.fullname }}</td>  
                        <td ng-show="userChecked">{{ sum.email }}</td>                        
                        <td>{{ formatNumber(sum.jobCount) }}</td>
                        <td>{{ formatNumber(sum.cpuSeconds / 3600) }}</td>
                        <td>${{ sum.cost }}</td> 
                    </tr>
                    <tr ng-show="jobSummary.length">
                        <td><strong>Grand Total</strong></td>
                        <td ng-show="loggedInAsErsaUser"> - </td>
                        <td ng-show="userChecked"> - </td> 
                        <td ng-show="userChecked"> - </td> 
                        <td ng-show="userChecked"> - </td>  
                        <td><strong>{{ formatNumber(jobCountSum) }}</strong></td>
                        <td><strong>{{ formatNumber(cpuSecondsSum / 3600) }}</strong></td> 
                        <td><strong>${{ costSum }}</td> 
                    </tr>                    
                </table>
            </div>
        </div>
    </div> 
       
</div>
