<div class="container-fluid">
    <h3 class="text-center">HPC</h3>

    <div ng-controller="HPCController">

        <form>
            <div class="row">
                <div class="col-md-3">
                    <p>CRM Snapshot</p>
                    <div class="form-group">
                        <div>
                            <select class="form-control" ng-model="crm.id">
                                <option value="">Timestamp</option>
                                <option ng-repeat="snapshot in values(crm.snapshots) | orderBy: 'ts'" value="{{ snapshot.id }}">
                                    {{ formatTimestamp(snapshot.ts) }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <p>Start Date</p>
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup ng-model="rangeStart" is-open="rangeStartOpen" show-weeks="false" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openRangeStart()">📅</button>
                        </span>
                    </p>
                </div>

                <div class="col-md-3">
                    <p>End Date</p>
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup ng-model="rangeEnd" is-open="rangeEndOpen" show-weeks="false" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openRangeEnd()">📅</button>
                        </span>
                    </p>
                </div>

                <div class="col-md-3">
                    <p>{{ status }}</p>
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" ng-click="loadJobs()">Update</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" ng-csv="exportSummary()" field-separator="\t" filename="hpc.tsv">Export as TSV</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row" style="padding-top: 25px;">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Organisation</th>
                        <th>Job Count</th>
                        <th>Total Core Hours</th>
                        <th>Total Core Duration</th>
                        <th>Mean Core Duration</th>
                    </tr>
                    <tr ng-repeat="sum in jobSummary | orderBy: 'username'">
                        <td>{{ sum.fullname }}</td>
                        <td>{{ sum.username }}</td>
                        <td>{{ sum.organisation }}</td>
                        <td>{{ formatNumber(sum.jobCount) }}</td>
                        <td>{{ formatNumber(sum.cpuSeconds / 3600) }}</td>
                        <td>{{ formatDuration(sum.cpuSeconds, "seconds") }}</td>
                        <td>{{ formatDuration(sum.cpuSeconds / sum.jobCount, "seconds") }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
