<!-- TODO: replace prehistoric sandbox code -->

<!--
<h3 class="text-center">High-Performance Computing</h3>

<div style="padding-top: 25px;" ng-controller="HPCController">
    <div class="text-center">
        <div class="btn-group">
            <label ng-repeat="queue in queueValues | orderBy: 'name'" class="btn btn-primary" btn-radio="queue.name" ng-change="toggleQueue()" ng-model="select.radioModel">{{ queue.name }}</label>
        </div>
    </div>

    <div style="padding-top: 25px;">
        <table class="table table-striped" style="width: 100%;">
            <tr>
                <th><a href="#" ng-click="sortType = 'start' ; sortReverse = !sortReverse">Timestamp</a></th>
                <th><a href="#" ng-click="sortType = 'id' ; sortReverse = !sortReverse">ID</a></th>
                <th><a href="#" ng-click="sortType = 'name' ; sortReverse = !sortReverse">Name</a></th>
                <th><a href="#" ng-click="sortType = 'owner.name' ; sortReverse = !sortReverse">User</a></th>
                <th><a href="#" ng-click="sortType = 'cores' ; sortReverse = !sortReverse">Cores</a></th>
                <th><a href="#" ng-click="sortType = 'cpu_seconds' ; sortReverse = !sortReverse">Core Usage</a></th>
                <th>Host(s)</th>
            </tr>
            <tr ng-repeat="job in jobs | orderBy:sortType:sortReverse">
                <td>{{ formatTimestamp(job.start) }}</td>
                <td>{{ job.id }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.owner.name }}</td>
                <td>{{ job.cores }}</td>
                <td>{{ formatHours(job.cpu_seconds/3600) }}</td>
                <td>{{ formatHostList(job) }}</td>
            </tr>
        </table>
    </div>
</div>
-->
