<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>eRSA Reporting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/slate-3.3.5.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-strict-di>

    <nav ng-cloak class="navbar navbar-default" style="margin-bottom: 0px;" role="navigation" ng-controller="MenuController">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">
                <img style="max-width: 50px; margin-top: -15px;" src="images/ersa.png">
            </a>
        </div>

        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav" ng-show="configured">
                <li uib-dropdown  ng-repeat="(menu, items) in menus">
                    <a href="#" uib-dropdown-toggle>{{ menu }}</a>
                    <ul uib-dropdown-menu role="menu">
                        <li ng-repeat="(item, state) in items" >
                            <a ui-sref="{{ state[0] }}">{{ item }}</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-show="configured"><a href="#">{{ email }}</a></li>
                <li ng-show="configured"><a ng-click="reset()" href="#">Logout</a></li>
                <li ng-hide="configured"><a href="https://rapid.aaf.edu.au/jwt/authnrequest/research/F4OXTn_Jp5YxQ1i0brnVYg">AAF Login</a></li>
                <li><a href="http://www.ersa.edu.au">eRSA</a></li>
            </ul>
        </div>
    </nav>

    <div ui-view></div>
    
    <!-- Loading modal popup -->
    <!-- to display, set $rootScope.spinnerActive = true; in each controller -->
    <!-- to close, set $rootScope.spinnerActive = false; in each controller  --> 
 
    <div us-spinner="{radius:30, width:8, length: 16}"></div>
   

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
-->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/spin.js/spin.min.js"></script>
    <script src="lib/angular-spinner/angular-spinner.min.js"></script>
    <script src="lib/angular-google-chart/ng-google-chart.min.js"></script>
    <script src="lib/requirejs/require.js" data-main="js/main.js"></script>
</body>
</html>
