<div class="container-fluid">
    <h3 class="text-center">Allocation Summary</h3>
    <p ng-show="error" class="alert alert-danger">{{ error }}</p>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div>

        <form>
            <div class="row"> 
                <div class="col-md-12">
                    <!-- div class="col-md-4">
                        <p>Organisation</p>
                        <div class="form-group">
                            <select name="orgSelect" id="orgSelect" ng-model="selectedBillingOrg" ng-change="orgChanged()" class="form-control">
                                <option value="0">All</option>
                                <option ng-repeat="org in topOrgs" ng-show="org.billing == org.pk" value="{{ org.billing }}">{{ org.fields.name}}</option>
                            </select>
                        </div>
                    </div -->                  
                    <div class="{{values(xfs.host).length > 1 ? 'col-md-3' : 'col-md-4'}}">
                        <p>Organisation</p>
                        <div class="form-group">
                            <select name="orgSelect" id="orgSelect" ng-model="selectedBillingOrg" ng-change="orgChanged()" class="form-control">
                                <option value="0">All</option>
                                <option ng-repeat="org in topRdsOrgs" value="{{ org.id }}">{{ org.name}}</option>
                            </select>
                        </div>
                    </div>                
                    <div ng-show="values(xfs.host).length > 1" class="col-md-3">
                        <p>Host</p>
                        <div class="form-group">
                            <div>
                                <select class="form-control" ng-model="select.host">
                                    <option value="">Name</option>
                                    <option ng-repeat="host in values(xfs.host) | orderBy: 'name'" value="{{ host.id }}">
                                        {{ host.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div> 

                    <div class="{{values(xfs.host).length > 1 ? 'col-md-3' : 'col-md-4'}}">
                        <p>Select Usage Month</p>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="MMM/yyyy" ng-model="rangeEnd" is-open="rangeEndOpen" showWeeks="false" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'" ng-required="true" onkeydown="return false"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-search" ng-click="openRangeEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>

                    <div class="{{values(xfs.host).length > 1 ? 'col-md-3' : 'col-md-4'}}">
                        <p>&nbsp;</p>
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default btn-search" ng-click="load()">View Usage</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-defaul btn-search" ng-csv="export()" filename="allocation.summary.csv">Export as CSV</button>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group text-center">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="filesystemChecked" ng-change="orgChanged()"> View File system
                        </label> 
                    </div>                    
                </div>
            </div> 
             
        </form>

        <div class="row" style="padding-top: 25px;">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th> Allocation Name        </th>
                        <th>School                        </th>
                        <th>User Name                     </th>
                        <th>Email                         </th>
                        <th ng-show="filesystemChecked">File System                     </th> 
                        <th><p class="text-right">RDS GB Allocated</th> 
                        <th><p class="text-right">Total GB Usaged</p></th>  
                        <th><p class="text-right">250GB Quota Allocated</p></th>  
                        <th><p class="text-right">Cost per Quota</p></th> 
                    </tr>
                    <tr ng-repeat="usage in usages | orderBy: 'rds'">
                        <td>{{ usage.rds }}</td>
                        <td>{{ usage.school }}</td>
                        <td>{{ usage.username }}</td>
                        <td>{{ usage.email }}</td>
                        <td ng-show="filesystemChecked">{{ usage.filesystem }}</td> 
                        <td><p class="text-right">{{ usage.approvedSize }}</p></td>  
                        <td><p class="text-right"> {{ usage.usage }}</p></td> 
                        <td><p class="text-right"> {{ usage.quota250 }}</p></td>  
                        <td><p class="text-right">${{ formatNumber(usage.per5dollar) }}.00</p></td>  
                    </tr> 
                    <tr ng-show="usages.length">
                        <td><strong>Grand Total</strong></td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td ng-show="filesystemChecked"> </td> 
                        <td><p class="text-right"><strong>{{ total.rds }}</strong></p></td>  
                        <td><p class="text-right"><strong>{{ total.currentUsage.toFixed(2) }}</strong></p></td> 
                        <td><p class="text-right"><strong>{{ total.quota250 }}</strong></p></td>  
                        <td><p class="text-right"><strong>${{ formatNumber(total.per5dollar) }}.00</strong></p></td>  
                    </tr>                     
                </table> 
                
            </div>
        </div>
        <!-- 
            http://jsfiddle.net/alexsuch/RLQhh/ 
            https://angular-ui.github.io/bootstrap/
        -->
        <!-- button type="button" class="btn btn-default" ng-click="openJobMessage('lg')">Open me!</button -->
    </div> 
       
</div>
