<div class="container-fluid">
    <h3 class="text-center">Stored Collections Report</h3>
    <p ng-show="error" class="alert alert-danger">{{ error }}</p>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div>
        <div class="row">
            <div class="col-md-12">
                <table ersa-table="national-storage-usage.detailed">
                    <thead>
                        <tr>
                            <th>Project Number</th>
                            <th>Project Title</th>
                            <th>Project Leader</th>
                            <th>Job Title</th>
                            <th>School</th>
                            <th>Project Leader Email</th>
                            <th>Project Admin</th>
                            <th>Project Admin Email</th>
                            <th>Collection Description</th>
                            <th>Grant ID</th>
                            <th>FOR</th>
                            <th>File System</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="usage in usages | orderBy: 'orderID'">
                            <td>{{ usage.orderID }}</td>
                            <td>{{ usage.name }}</td>
                            <td>{{ usage.leader }}</td>
                            <td>{{ usage.leadertitle }}</td>
                            <td blank-safe="usage.leaderunit"></td>
                            <td>{{ usage.leaderemail }}</td>
                            <td>{{ usage.admin }}</td>
                            <td>{{ usage.adminemail }}</td>
                            <td>{{ usage.description }}</td>
                            <td>{{ usage.GrantID }}</td>
                            <td>{{ usage.fors }}</td>
                            <td>{{ usage.FileSystemName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
