<div class="container-fluid">

    <h3 class="text-center">Filesystems</h3>

    <div ng-controller="FilesystemController">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <div style="padding-top: 25px;">
                    <form>
                        <select class="form-control" ng-model="select.fs" ng-change="selectFilesystem()">
                            <option ng-repeat="fs in filesystems" value="{{ fs.id }}">{{ cleanName(fs.name) }}</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div style="padding-top: 25px;">
                    <table class="table table-striped" style="width: 100%;">
                        <tr>
                            <th>Timestamp</th>
                            <th>Capacity</th>
                            <th>Available</th>
                        </tr>
                        <tr ng-repeat="snap in snapshots | orderBy:sortType:sortReverse">
                            <td>{{ formatTimestamp(snap.ts) }}</td>
                            <td>{{ formatSize(snap.blocks * snap.bsize) }}</td>
                            <td>{{ formatSize(snap.bavail * snap.bsize) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
