<div class="container-fluid">
    <h3 class="text-center">Usage</h3>
    <p ng-show="error" class="alert alert-danger">{{ error }}</p>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div>

        <form>
            <div class="row"> 
                <ersa-search 
                    start-date-class="col-md-4" end-date-class="col-md-4" 
                    button-class="col-md-4" 
                    export-file-name="hcp.tsv"/> 
            </div> 
        </form>

        <div class="row" style="padding-top: 25px;">
            <div class="col-md-12"> 
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Ingested</th>
                        <th>Raw bytes</th> 
                        <th>Reads</th>
                        <th>Writes</th> 
                    </tr>
                    <tr ng-repeat="usage in filesystemUsage | orderBy: 'name'">
                        <td>{{ usage.namespace_name }}</td>
                        <td>{{ formatSize(usage.ingested_bytes) }}</td>
                        <td>{{ formatSize(usage.raw_bytes) }}</td>
                        <td>{{ formatNumber(usage.reads) }}</td>  
                        <td>{{ formatSize(usage.writes) }}</td> 
                    </tr>
                </table> 
                
            </div>
        </div>
     </div>  
</div>
