<div class="container-fluid">
    <h3 class="text-center">Usage</h3>
    <p ng-show="error" class="alert alert-danger">{{ error }}</p>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div>

        <form>
            <div class="row"> 
                <ersa-search 
                    start-date-class="col-md-4" end-date-class="col-md-4" 
                    button-class="col-md-4" 
                    export-file-name="hcp.csv"/> 
            </div> 
        </form>

        <div class="row" style="padding-top: 25px;">
            <div class="col-md-12"> 
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Ingested(avg)</th>
                        <th>Capacity used</th> 
                        <!-- th>Reads(avg)</th>
                        <th>Writes(avg)</th --> 
                        <th>Deletes(avg)</th> 
                        <th>Objects(avg)</th> 
                        <th>Bytes in(avg)</th>  
                        <th>Bytes out(avg)</th> 
                        <!-- th>Metadata(Objects)</th> 
                        <th>Metadata(Bytes)</th> 
                        <th>Tiered(Objects)</th> 
                        <th>Tiered(Bytes)</th --> 
                    </tr>
                    <tr ng-repeat="usage in usages | orderBy: 'namespaceName'">
                        <td>{{ usage.namespaceName }}</td>
                        <td>{{ formatSize(usage.ingestedBytes / usage.usageCount) }}</td>
                        <td>{{ formatSize(usage.rawBytes / usage.usageCount) }}</td>
                        <!--td>{{ formatSize(usage.reads / usage.usageCount) }}</td>  
                        <td>{{ formatSize(usage.writes / usage.usageCount) }}</td --> 
                        <td>{{ formatNumber(usage.deletes / usage.usageCount) }}</td> 
                        <td>{{ formatNumber(usage.objects / usage.usageCount) }}</td> 
                        <td>{{ formatSize(usage.bytesIn / usage.usageCount) }}</td> 
                        <td>{{ formatSize(usage.bytesOut / usage.usageCount) }}</td> 
                        <!-- td>{{ formatSize(usage.metadata_only_objects) }}</td> 
                        <td>{{ formatSize(usage.metadata_only_bytes) }}</td> 
                        <td>{{ formatSize(usage.tiered_objects) }}</td> 
                        <td>{{ formatSize(usage.tiered_bytes) }}</td --> 
                    </tr>
                </table> 
                
            </div>
        </div>
     </div>  
</div>
