<div class="container-fluid">
    <h3 class="text-center">XFS</h3>
    <p ng-show="error" class="alert alert-danger">{{ error }}</p>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div>
        <form>
            <div class="row">
                <div class="col-md-2">
                    <p>Host</p>
                    <div class="form-group">
                        <div>
                            <select class="form-control" ng-change="selectHost()" ng-model="select.host">
                                <option value="">Name</option>
                                <option ng-repeat="host in values(xfs.host) | orderBy: 'name'" value="{{ host.id }}">
                                    {{ host.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <p>CRM Snapshot</p>
                    <div class="form-group">
                        <div>
                            <select class="form-control" ng-model="select.crm">
                                <option value="">Snapshot</option>
                                <option ng-repeat="snapshot in values(crm.snapshot) | orderBy: 'ts'" value="{{ snapshot.id }}">
                                    {{ formatTimestamp(snapshot.ts) }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <p>Filesystem</p>
                    <div class="form-group">
                        <div>
                            <select class="form-control" ng-disabled="!select.host" ng-model="select.filesystem">
                                <option value="">Filesystem</option>
                                <option ng-repeat="fs in values(xfs.filesystem) | orderBy: 'name'" value="{{ fs.id }}">
                                    {{ fs.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <ersa-search 
                    start-date-class="col-md-2" end-date-class="col-md-2" 
                    button-class="col-md-2" 
                    export-file-name="xfs.tsv"
                />

                <!-- <div class="col-md-2">
                    <p>Usage Snapshot</p>
                    <div class="form-group">
                        <div>
                            <select class="form-control" ng-disabled="!select.host" ng-model="select.snapshot">
                                <option value="">Snapshot</option>
                                <option ng-repeat="snapshot in values(xfs.snapshot) | orderBy: 'ts'" value="{{ snapshot.id }}">
                                    {{ formatTimestamp(snapshot.ts) }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div> -->

                <!--div class="col-md-2">
                    <p>{{ status }}</p>
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" ng-click="loadUsageRange()" ng-disabled="!(select.host && select.crm && select.filesystem)" type="button">Update</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" field-separator="\t" filename="xfs.tsv" ng-csv="exportUsageRange()" type="button">Export as TSV</button>
                        </div>
                    </div>
                </div-->
            </div>

            <!-- div class="row" ng-show="select.host && select.crm && select.filesystem" style="padding-top: 25px;" -->
            <div class="row" ng-show="select.host" style="padding-top: 25px;">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <tr>
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Organisation</th>
                            <th>Usage (Weighted Mean)</th>
                            <th>Usage (Peak)</th>
                        </tr>
                        <tr ng-repeat="entry in output.summed | orderBy: 'username'">
                            <td>{{ entry.fullname }}</td>
                            <td>{{ entry.username }}</td>
                            <td>{{ entry.organisation }}</td>
                            <td>{{ formatSize(entry.usage) }}</td>
                            <td>{{ formatSize(entry.peak) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
