<div class="container-fluid box">
    <div class="box-header">
        <h3 class="text-center">NATIONAL STORAGE USAGE</h3>
        <p ng-show="error" class="alert alert-danger">{{ error }}</p>
        <user-rollup-errors is-all-success="isAllRollupSuccess" errors="rollupErrors"></user-rollup-errors>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <p>Organisation</p>
                        <div class="form-group">
                            <select  disabled="disabled" name="orgSelect" id="orgSelect" ng-model="selectedBillingOrg" ng-change="orgChanged()" class="form-control">
                                <option value="0">All</option>
                                <option ng-repeat="org in topRdsOrgs" value="{{ org.id }}">{{ org.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <p>Select Usage Month</p>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="MMM/yyyy" ng-model="rangeEnd" is-open="rangeEndOpen"
                                datepicker-options="datepickerOptions" ng-required="true" onkeydown="return false" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-search" ng-click="openRangeEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>

                    <div class="col-md-4">
                        <p>&nbsp;</p>
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default btn-search" ng-click="load()">View Usage</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top-margin">
                <div class="col-md-12">
                    <div class="form-group text-center">
                        <span>Detail level:
                            <div class="btn-group" ng-init="detailLevel = 'simple'">
                                <label class="btn btn-primary ersa-theme" ng-model="detailLevel" uib-btn-radio="'simple'">Simple</label>
                                <label class="btn btn-primary ersa-theme" ng-model="detailLevel" uib-btn-radio="'rollup'">User rollup</label>
                                <label class="btn btn-primary ersa-theme" ng-model="detailLevel" uib-btn-radio="'detailed'">Detailed</label>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table ng-show="detailLevel === 'detailed'" class="flexy-table box-content"
        st-table="displayedUsagesRows" st-safe-src="usages" ersa-table="national-storage.detailed">
        <thead>
            <tr ersa-table-add-filters>
                <th cell-ratio="7" ersa-table-sort="type">Source</th>
                <th cell-ratio="7" ersa-table-sort="orderline_id">Allocation Name</th>
                <th cell-ratio="10" ersa-table-sort="orderByTwoCols('account','orderline_id')" st-sort-default="true">Organisation</th>
                <th cell-ratio="10" ersa-table-sort="unit">School</th>
                <th cell-ratio="10" ersa-table-sort="managerName">User Name</th>
                <th cell-ratio="15" ersa-table-sort="managerEmail">Email</th>
                <th cell-ratio="15" ersa-table-sort="identifier">File System</th>
                <th cell-ratio="8" ersa-table-sort="approved_size" ersa-table-no-filter class="text-right">GB Allocated</th>
                <th cell-ratio="8" ersa-table-sort="avgUsage" ersa-table-no-filter class="text-right">GB Used</th>
                <th cell-ratio="5" ersa-table-sort="blocks" ersa-table-no-filter class="text-right">Usage / 250GB</th>
                <th cell-ratio="5" ersa-table-sort="totalFee" ersa-table-no-filter class="text-right">Fee</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usage in displayedUsagesRows" class="animated fadeIn">
                <td cell-ratio="7">{{::usage.type}}</td>
                <td cell-ratio="7">To be replaced by order_id {{ ::usage.orderline_id }}</td>
                <td cell-ratio="10" blank-safe="usage.account"></td>
                <td cell-ratio="10" blank-safe="usage.unit"></td>
                <td cell-ratio="10" blank-safe="usage.managerName"></td>
                <td cell-ratio="15" blank-safe="usage.managerEmail"></td>
                <td cell-ratio="15">{{ ::usage.identifier }}</td>
                <td cell-ratio="8" class="text-right">{{ ::usage.approved_size | number }}</td>
                <td cell-ratio="8" class="text-right"> {{ ::usage.avgUsage | number }}</td>
                <td cell-ratio="5" class="text-right"> {{ ::usage.blocks }}</td>
                <td cell-ratio="5" class="text-right">${{ ::formatNumber(usage.totalFee) }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr ng-show="usages.length" ng-class="{'total-not-relevant': isFilterApplied(displayedUsagesRows, usages)}">
                <td cell-ratio="82"><strong>Grand Total</strong></td>
                <td ng-repeat="i in [1,2,3,4,5,6,7]" class="filler-cell"></td>
                <td cell-ratio="8" class="text-right"><strong>{{ total.avgUsage | number }}</strong></td>
                <td cell-ratio="5" class="text-right"><strong>{{ total.blocks }}</strong></td>
                <td cell-ratio="5" class="text-right"><strong>${{ formatNumber(total.cost) }}</strong></td>
            </tr>
        </tfoot>
    </table>

    <table ng-show="detailLevel === 'rollup'" class="flexy-table box-content"
        st-table="displayedRollupRows" st-safe-src="rollup" ersa-table="national-storage.rollup">
        <thead>
            <tr ersa-table-add-filters>
                <th cell-ratio="7" ersa-table-sort="orderline_id">Allocation Name</th>
                <th cell-ratio="13" ersa-table-sort="orderByTwoCols('account','orderline_id')" st-sort-default="true">Organisation</th>
                <th cell-ratio="14" ersa-table-sort="unit">School</th>
                <th cell-ratio="10" ersa-table-sort="managerName">User Name</th>
                <th cell-ratio="15" ersa-table-sort="managerEmail">Email</th>
                <th cell-ratio="15" ersa-table-sort="identifier">File System</th>
                <th cell-ratio="8" ersa-table-sort="approved_size" ersa-table-no-filter class="text-right">GB Allocated</th>
                <th cell-ratio="8" ersa-table-sort="usage" ersa-table-no-filter class="text-right">GB Used</th>
                <th cell-ratio="5" ersa-table-sort="blocks" ersa-table-no-filter class="text-right">Usage / 250GB</th>
                <th cell-ratio="5" ersa-table-sort="totalFee" ersa-table-no-filter class="text-right">Fee</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usage in displayedRollupRows" class="animated fadeIn">
                <td cell-ratio="7">To be replaced by order_id {{ ::usage.orderline_id }}</td>
                <td cell-ratio="13" blank-safe="usage.account"></td>
                <td cell-ratio="14" blank-safe="usage.unit"></td>
                <td cell-ratio="10" blank-safe="usage.managerName"></td>
                <td cell-ratio="15" blank-safe="usage.managerEmail"></td>
                <td cell-ratio="15">{{ ::usage.identifier }}</td>
                <td cell-ratio="8" class="text-right">{{ ::usage.approved_size | number }}</td>
                <td cell-ratio="8" class="text-right"> {{ ::usage.avgUsage | number }}</td>
                <td cell-ratio="5" class="text-right"> {{ ::usage.blocks }}</td>
                <td cell-ratio="5" class="text-right">${{ ::formatNumber(usage.totalFee) }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr ng-show="usages.length" ng-class="{'total-not-relevant': isFilterApplied(displayedRollupRows, rollup)}">
                <td cell-ratio="82"><strong>Grand Total</strong></td>
                <td ng-repeat="i in [1,2,3,4,5,6]" class="filler-cell"></td>
                <td cell-ratio="8" class="text-right"><strong>{{ total.avgUsage | number }}</strong></td>
                <td cell-ratio="5" class="text-right"><strong>{{ total.blocks }}</strong></td>
                <td cell-ratio="5" class="text-right"><strong>${{ formatNumber(total.cost) }}</strong></td>
            </tr>
        </tfoot>
    </table>

    <table ng-show="detailLevel === 'simple'" class="flexy-table box-content"
        st-table="displayedSimpleRows" st-safe-src="subTotals" ersa-table="national-storage.simple">
        <thead>
            <tr ersa-table-add-filters>
                <th cell-ratio="35" ersa-table-sort="orderBy('account')" st-sort-default="true">Organisation</th>
                <th cell-ratio="35" ersa-table-sort="unit">School</th>
                <th cell-ratio="10" ersa-table-sort="usage" ersa-table-no-filter class="text-right">GB Used</th>
                <th cell-ratio="10" ersa-table-sort="blocks" ersa-table-no-filter class="text-right">Usage / 250GB</th>
                <th cell-ratio="10" ersa-table-sort="totalFee" ersa-table-no-filter class="text-right">Fee</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usage in displayedSimpleRows" ng-class="{'subtotal-row': isSubTotalRow(usage)}" class="animated fadeIn">
                <td cell-ratio="35" blank-safe="usage.account"></td>
                <td cell-ratio="35" blank-safe="usage.unit"></td>
                <td cell-ratio="10" class="text-right"> {{ ::usage.avgUsage | number }}</td>
                <td cell-ratio="10" class="text-right"> {{ ::usage.blocks }}</td>
                <td cell-ratio="10" class="text-right">${{ ::formatNumber(usage.totalFee) }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr ng-show="usages.length" class="animated fadeIn" ng-class="{'total-not-relevant': isFilterApplied(displayedSimpleRows, subTotals)}">
                <td cell-ratio="70"><strong>Grand Total</strong></td>
                <td class="filler-cell"></td>
                <td cell-ratio="10" class="text-right"><strong>{{ total.avgUsage | number }}</strong></td>
                <td cell-ratio="10" class="text-right"><strong>{{ total.blocks }}</strong></td>
                <td cell-ratio="10" class="text-right"><strong>${{ formatNumber(total.cost) }}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>
