<div class="container-fluid box">
    <div class="box-header">
        <h3 class="text-center">HOME ACCOUNT STORAGE USAGE</h3>
        <p ng-show="error" class="alert alert-danger">{{ error }}</p>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="{{values(xfs.host).length > 1 ? 'col-md-3' : 'col-md-4'}}">
                        <p>Organisation</p>
                        <div class="form-group">
                            <select name="orgSelect" id="orgSelect" ng-model="selectedBillingOrg" ng-change="orgChanged()" class="form-control">
                                <option value="0">All</option>
                                <option ng-repeat="org in billingOrgs" value="{{ org.billing }}">{{ org.fields.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div ng-show="values(xfs.host).length > 1" class="col-md-3">
                        <p>Host</p>
                        <div class="form-group">
                            <div>
                                <select class="form-control" ng-model="select.host">
                                    <option value="">Name</option>
                                    <option ng-repeat="host in values(xfs.host) | orderBy: 'name'" value="{{ host.id }}">
                                        {{ host.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="{{values(xfs.host).length > 1 ? 'col-md-3' : 'col-md-4'}}">
                        <p>Select Usage Month</p>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="MMM/yyyy" ng-model="rangeEnd" is-open="rangeEndOpen"
                                datepicker-options="datepickerOptions" ng-required="true" onkeydown="return false"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-search" ng-click="openRangeEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>

                    <div class="{{values(xfs.host).length > 1 ? 'col-md-3' : 'col-md-4'}}">
                        <p>&nbsp;</p>
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default btn-search" ng-click="load()">View Usage</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group text-center">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="viewDetails"> View User Detail
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table ng-show="viewDetails" class="flexy-table box-content"
        st-table="displayedOutputSummedRows" st-safe-src="output.summed" ersa-table="home-account-storage.detailed">
        <thead>
            <tr ersa-table-add-filters>
                <th cell-ratio="10" ersa-table-sort="orderByNCols(['biller','managerunit','owner'])" st-sort-default="true">Organisation</th>
                <th cell-ratio="20" ersa-table-sort="managerunit">School</th>
                <th cell-ratio="10" ersa-table-sort="owner">User ID</th>
                <th cell-ratio="10" ersa-table-sort="manager">User Name</th>
                <th cell-ratio="20" ersa-table-sort="manageremail">Email</th>
                <th cell-ratio="10" ersa-table-sort="usage" ersa-table-no-filter class="text-right">GB Used</th>
                <th cell-ratio="10" ersa-table-sort="blocks" ersa-table-no-filter class="text-right">Usage / 250GB</th>
                <th cell-ratio="10" ersa-table-sort="cost" ersa-table-no-filter class="text-right">Fee</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in displayedOutputSummedRows" class="animated fadeIn">
                <td cell-ratio="10" blank-safe="entry.biller"></td>
                <td cell-ratio="20" blank-safe="entry.managerunit"></td>
                <td cell-ratio="10">{{ ::entry.owner }}</td>
                <td cell-ratio="10" blank-safe="entry.manager"></td>
                <td cell-ratio="20" blank-safe="entry.manageremail"></td>
                <td cell-ratio="10" class="text-right">{{ ::entry.usage | number }}</td>
                <td cell-ratio="10" class="text-right">{{ ::entry.blocks }}</td>
                <td cell-ratio="10" class="text-right">${{ ::formatNumber(entry.cost) }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr ng-show="output.summed.length" ng-class="{'total-not-relevant': isFilterAppliedDetailed()}">
                <td cell-ratio="70"><strong>Grand Total</strong></td>
                <td ng-repeat="i in [1,2,3,4]" class="filler-cell"></td>
                <td cell-ratio="10" class="text-right"><strong>{{ total.usage | number }}</strong></td>
                <td cell-ratio="10" class="text-right"><strong>{{ total.blocks }}</strong> </td>
                <td cell-ratio="10" class="text-right"><strong>${{ formatNumber(total.cost) }}</strong></td>
            </tr>
        </tfoot>
    </table>
    <table ng-hide="viewDetails" class="flexy-table box-content"
        st-table="displayedSubtotalRows" st-safe-src="subTotals" ersa-table="home-account-storage.simple">
        <thead>
            <tr ersa-table-add-filters>
                <th cell-ratio="35" ersa-table-sort="orderBy('billing')" st-sort-default="true">Organisation</th>
                <th cell-ratio="35" ersa-table-sort="organisation">School</th>
                <th cell-ratio="10" ersa-table-sort="usage" ersa-table-no-filter class="text-right">GB Used</th>
                <th cell-ratio="10" ersa-table-sort="blocks" ersa-table-no-filter class="text-right">Usage / 250GB</th>
                <th cell-ratio="10" ersa-table-sort="cost" ersa-table-no-filter class="text-right">Fee</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in displayedSubtotalRows" class="animated fadeIn" ng-class="{'subtotal-row': isSubTotalRow(entry)}">
                <td cell-ratio="35" blank-safe="entry.billing"></td>
                <td cell-ratio="35" blank-safe="entry.organisation"></td>
                <td cell-ratio="10" class="text-right">{{ ::entry.usage | number }}</td>
                <td cell-ratio="10" class="text-right">{{ ::entry.blocks }}</td>
                <td cell-ratio="10" class="text-right">${{ ::formatNumber(entry.cost) }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr ng-show="output.summed.length" class="animated fadeIn" ng-class="{'total-not-relevant': isFilterAppliedSimple()}">
                <td cell-ratio="70"><strong>Grand Total</strong></td>
                <td class="filler-cell"></td>
                <td cell-ratio="10" class="text-right"><strong>{{ total.usage | number }}</strong></td>
                <td cell-ratio="10" class="text-right"><strong>{{ total.blocks }}</strong></td>
                <td cell-ratio="10" class="text-right"><strong>${{ formatNumber(total.cost) }}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>
