<div class="container-fluid">
    <h3 class="text-center">HOME ACCOUNT STORAGE USAGE</h3>
    <p ng-show="error" class="alert alert-danger">{{ error }}</p>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="{{values(xfs.host).length > 1 ? 'col-md-3' : 'col-md-4'}}">
                        <p>Organisation</p>
                        <div class="form-group">
                            <select name="orgSelect" id="orgSelect" ng-model="selectedBillingOrg" ng-change="orgChanged()" class="form-control">
                                <option value="0">All</option>
                                <option ng-repeat="org in billingOrgs" value="{{ org.billing }}">{{ org.fields.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div ng-show="values(xfs.host).length > 1" class="col-md-3">
                        <p>Host</p>
                        <div class="form-group">
                            <div>
                                <select class="form-control" ng-model="select.host">
                                    <option value="">Name</option>
                                    <option ng-repeat="host in values(xfs.host) | orderBy: 'name'" value="{{ host.id }}">
                                        {{ host.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="{{values(xfs.host).length > 1 ? 'col-md-3' : 'col-md-4'}}">
                        <p>Select Usage Month</p>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="MMM/yyyy" ng-model="rangeEnd" is-open="rangeEndOpen"
                                datepicker-options="datepickerOptions" ng-required="true" onkeydown="return false"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-search" ng-click="openRangeEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>

                    <div class="{{values(xfs.host).length > 1 ? 'col-md-3' : 'col-md-4'}}">
                        <p>&nbsp;</p>
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default btn-search" ng-click="load()">View Usage</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group text-center">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="viewDetails"> View User Detail
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table ng-show="viewDetails" ersa-table="home-account-storage.detailed">
                        <thead>
                            <tr>
                                <th>Organisation</th>
                                <th>School</th>
                                <th>User ID</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th class="text-right">GB Used</th>
                                <th class="text-right">Usage / 250GB</th>
                                <th class="text-right">Fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entry in output.summed | orderBy: ['billing','organisation','owner']">
                                <td blank-safe="entry.billing"></td>
                                <td blank-safe="entry.organisation"></td>
                                <td>{{ ::entry.owner }}</td>
                                <td blank-safe="entry.fullname"></td>
                                <td blank-safe="entry.email"></td>
                                <td class="text-right">{{ ::entry.usage | number }}</td>
                                <td class="text-right">{{ ::entry.blocks }}</td>
                                <td class="text-right">${{ ::formatNumber(entry.cost) }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-show="output.summed.length">
                                <td><strong>Grand Total</strong></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong>{{ ::total.usage | number }}</strong></td>
                                <td class="text-right"><strong>{{ ::total.blocks }}</strong> </td>
                                <td class="text-right"><strong>${{ ::formatNumber(total.cost) }}</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                    <table ng-hide="viewDetails" ersa-table="home-account-storage.simple">
                        <thead>
                            <tr>
                                <th>Organisation</th>
                                <th>School</th>
                                <th class="text-right">GB Used</th>
                                <th class="text-right">Usage / 250GB</th>
                                <th class="text-right">Fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entry in subTotals | orderBy: ['billing',orderBySubTotalLast,'organisation']" ng-class="{'subtotal-row': isSubTotalRow(entry)}">
                                <td blank-safe="entry.billing"></td>
                                <td blank-safe="entry.organisation"></td>
                                <td class="text-right">{{ ::entry.usage | number }}</td>
                                <td class="text-right">{{ ::entry.blocks }}</td>
                                <td class="text-right">${{ ::formatNumber(entry.cost) }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-show="output.summed.length">
                                <td><strong>Grand Total</strong></td>
                                <td></td>
                                <td class="text-right"><strong>{{ ::total.usage | number }}</strong></td>
                                <td class="text-right"><strong>{{ ::total.blocks }}</strong></td>
                                <td class="text-right"><strong>${{ ::formatNumber(total.cost) }}</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
