<div class="container-fluid">
    <h3 class="text-center">NeCTAR Identity (Keystone)</h3>

    <div>
        <form>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-xs-12">
                    <div class="form-group">
                        <div>
                            <select class="form-control" ng-model="select.snapshot" ng-change="selectSnapshot()">
                                <option value="">Snapshot</option>
                                <option ng-repeat="snapshot in values(keystone.snapshot) | orderBy: '-ts'" value="{{ snapshot.id }}">
                                    {{ formatTimestamp(snapshot.ts) }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row column" ng-hide="select.snapshot">
                <div style="text-align: center;">Select a Keystone snapshot.</div>
            </div>
        </form>

        <div class="col-md-12">
            <div class="row" ng-show="select.snapshot">
                <uib-tabset justified="true">
                    <uib-tab heading="Organisations">
                        <table class="table table-striped">
                            <tr>
                                <th>Organisation</th>
                                <th>People</th>
                            </tr>
                            <tr ng-repeat="domain in values(keystone.domain) | orderBy: 'name'">
                                <td>{{ domain.name }}</td>
                                <td>{{ referenceByDomain[domain.id].join(", ") }}</td>
                            </tr>
                        </table>
                    </uib-tab>
                    <uib-tab heading="Tenants (non-pt)">
                        <table class="table table-striped">
                            <tr>
                                <th>Tenant</th>
                                <th>Organisations</th>
                                <th>Members</th>
                            </tr>
                            <tr ng-repeat="tenant in values(keystone.tenant) | orderBy: 'name'">
                                <td>{{ tenant.name }}</td>
                                <td>{{ domainsByTenant[tenant.id].join(", ") }}</td>
                                <td>{{ addressesByTenant[tenant.id].join(", ") }}</td>
                            </tr>
                        </table>
                    </uib-tab>
                    <uib-tab heading="People (non-pt)">
                        <table class="table table-striped">
                            <tr>
                                <th>Address</th>
                                <th>Tenants</th>
                            </tr>
                            <tr ng-repeat="account in values(keystone.account) | filter: accountListFilter | orderBy: addressByAccount">
                                <td>{{ addressByAccount(account) }}</td>
                                <td>{{ membershipByAccount[account.id].map(getMembershipName).sort().join(", ") }}</td>
                            </tr>
                        </table>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>

    </div>
</div>
