<!-- TODO: replace prehistoric sandbox code -->

<!--
<h3 class="text-center">Cloud &mdash; Identity (Keystone)</h3>

<div ng-controller="KeystoneController">
    <div class="row">
        <div class="col-sm-12">
            <div style="padding-top: 25px;">
                <table class="table table-striped" style="width: 100%;">
                    <tr>
                        <th><a href="#" ng-click="sortType = 'name' ; sortReverse = !sortReverse">Name</a></th>
                        <th><a href="#" ng-click="sortType = 'description' ; sortReverse = !sortReverse">Description</a></th>
                    </tr>
                    <tr ng-repeat="tenant in tenants | orderBy:sortType:sortReverse">
                        <td>{{ tenant.name }}</td>
                        <td>{{ tenant.description }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
-->
