<div class="container-fluid">
    <h3 class="text-center">NeCTAR Virtual Machines (Nova)</h3>

    <div>
        <form>
            <div class="row">
                <div class="col-md-3">
                    <p>Instance status</p>
                    <div class="form-group">
                        <select name="statusSelect" id="statusSelect" ng-model="selectedStatus" ng-change="statusChanged()" class="form-control">
                            <option value="">All</option>
                            <option ng-repeat="status in instancesStatus" value="{{ status.id }}">{{ status.name }}</option>
                        </select>
                    </div>
                </div> 
                <ersa-search 
                    start-date-class="col-md-3" end-date-class="col-md-3" 
                    button-class="col-md-3" 
                    export-file-name="nova.tsv"/> 
            </div> 
        </form>

        <div class="row"> 
            <div class="col-sm-12">
                <div style="padding-top: 25px;">
                    <table class="table table-striped" style="width: 100%;">
                        <tr>
                            <th>Instance</th>
                            <th>Snapshot</th> 
                            <th>Status</th> 
                            <!-- th>Instance Status ID </th --> 
                            <!-- th>Account ID</th -->
                            <!-- th>Instance ID </th --> 
                            <th>hypervisorname </th> 
                            <th>Flavor</th>
                            <th>VCPUs</th>
                            <th>RAM</th>
                            <th>Disk</th>
                            <th>Ephemeral</th> 
                            <th>Public</th>
                        </tr>
                        <tr ng-repeat="instance in instancesState | orderBy: 'name'"> 
                            <td>{{ instance.name }}</td>
                            <td>{{ instance.snapshotts}}</td> 
                            <td>{{ instance.statusname}}</td> 
                            <!-- td>{{ instance.id}}</td --> 
                            <!-- td>{{ instance.account }}</td -->
                            <!-- td>{{ instance.instance}}</td --> 
                            <td>{{ instance.hypervisorname }}</td> 
                            <td>{{ instance.flavorname }}</td>
                            <td>{{ instance.vcpus }}</td>
                            <td>{{ instance.ram }}</td>
                            <td>{{ instance.disk }}</td>
                            <td>{{ instance.ephemeral }}</td> 
                            <td>{{ instance.public }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
