<div class="container-fluid">
    <h3 class="text-center">NECTAR USAGE</h3>

    <div>
        <form>
            <div class="row">
                <div class="col-md-4">
                    <p>Organisation</p>
                    <div class="form-group">
                        <select name="domainSelect" id="domainSelect" ng-change="selectDomain()" ng-model="selectedDomain" class="form-control">
                            <option value="0">All</option>
                            <option ng-repeat="domain in domains" value="{{domain}}">{{domain}}</option>
                        </select>
                    </div>
                </div> 

                <div class="col-md-4">
                    <p>Select Usage Month</p>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="MMM/yyyy" ng-model="rangeEnd" is-open="rangeEndOpen" showWeeks="false" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'" ng-required="true" onkeydown="return false"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-search" ng-click="openRangeEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>                

                <div class="col-md-4">
                    <p>&nbsp;</p>
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default btn-search" ng-click="load()">View Usage</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default btn-search" ng-csv="export()" filename="cloud.summary.csv">Export as CSV</button>
                        </div>
                    </div>
                </div>         
            </div> 

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group text-center"> 
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="serverChecked" ng-change="selectDomain()"> View Servers
                        </label> 
                    </div>                    
                </div>
            </div>            
                        
        </form>

        <div class="row">
            <div class="col-sm-12">
                <div style="padding-top: 25px;">
                    <table class="table table-striped" style="width: 100%;">
                        <tr ng-show="serverChecked"> 
                            <th ng-repeat="title in ::colTitles[0]">{{title}}</th>
                        </tr>
                        <tr ng-show="!serverChecked"> 
                            <th ng-repeat="title in ::colTitles[1]">{{title}}</th>
                        </tr>
                        <tr ng-repeat="instance in instancesState | orderBy: 'tenantName'">
                          <td ng-repeat="field in ::fieldNames">
                            {{instance[field]}}
                          </td>
                        </tr>

                        <tr ng-show="instancesState.length">
                            <td><strong>Grand Total</strong></td>     
                            <td ng-show="serverChecked"> - </td>  
                            <td ng-show="serverChecked"> - </td>  
                            <td ng-show="serverChecked"> - </td>  
                            <!-- th>{{ sum.coreAllocation }}</th -->
                            <td><strong>{{ sum.core }}</strong></td>  
                            <td> - </td>  
                            <!-- th>{{ ((sum.core /  sum.coreAllocation) * 100).toFixed(2)}}%</th --> 
                            <td><strong>${{ sum.cost.toFixed(2) }}</strong></td> 
                            <td ng-show="serverChecked"> - </td>  
                        </tr>                                         
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4" ng-if="pages > 0">
          Total pages <span class="badge">{{::pages}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-primary" ng-if="currentPage < pages" ng-click="loadNextPage()">Load more <span class="badge">{{currentPage}}</span></button>
        </div>
    </div>
</div>
