<div class="container-fluid">
    <h3 class="text-center">NeCTAR Virtual Machines (Nova)</h3>

    <div>
        <form>
            <div class="row">
                <div class="col-md-3">
                    <p>Domain</p>
                    <div class="form-group">
                        <select name="domainSelect" id="domainSelect" ng-model="selectedDomain" ng-change="domainChanged()" class="form-control">
                            <option value="">All</option>
                            <option ng-repeat="domain in domains" value="{{ domain.id }}">{{ domain.name }}</option>
                        </select>
                    </div>
                </div>
                <ersa-search
                    start-date-class="col-md-3" end-date-class="col-md-3"
                    button-class="col-md-3"
                    export-file-name="nova.tsv"/>
            </div>
        </form>

        <div class="row">
            <div class="col-sm-12">
                <div style="padding-top: 25px;">
                    <table class="table table-striped" style="width: 100%;">
                        <tr>
                            <th>Tenant</th>
                            <th>Server ID</th>
                            <th>Server Name</th>
                            <!-- th>Instance Status ID </th -->
                            <!-- th>Account ID</th -->
                            <th>Hypervisorname </th>
                            <th>Inventory Code</th>
                            <th>Hours</th>
                            <th>VCPUs</th>
                            <th>Usage</th>
                            <th>RAM</th>
                            <th>Disk</th>
                            <th>Ephemeral</th>
                        </tr>
                        <tr ng-repeat="instance in instancesState | orderBy: 'tenant_name'">
                            <td>{{ instance.tenant_name }}</td>
                            <td>{{ instance.server_id }}</td>
                            <td>{{ instance.server }}</td>
                            <!-- td>{{ instance.id}}</td -->
                            <!-- td>{{ instance.account }}</td -->
                            <td>{{ instance.hypervisor }}</td>
                            <td>{{ instance.flavorname }}</td>
                            <td>{{ ( instance.span / 3600).toFixed(1) }}</td>
                            <td>{{ instance.vcpus }}</td>
                            <td>{{ formatDuration(instance.span * instance.vcpus, "seconds") }}</td>
                            <td>{{ formatNumber(instance.ram) }}</td>
                            <td>{{ instance.disk }}</td>
                            <td>{{ instance.ephemeral }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
