<!-- TODO: replace prehistoric sandbox code -->

<div class="container-fluid">
    <h3 class="text-center">CRM</h3>

    <div ng-controller="CRMController">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <form>
                    <div class="form-group">
                        <div>
                            <select class="form-control" ng-model="select.id" ng-change="selectSnapshot()">
                                <option value="">Snapshot</option>
                                <option ng-repeat="snapshot in values(snapshot) | orderBy: 'ts'" value="{{ snapshot.id }}">
                                    {{ formatTimestamp(snapshot.ts) }}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row" ng-hide="select.id">
                <p class="text-center">Select a CRM snapshot.</p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row" ng-show="select.id">
                <tabset justified="true">
                    <tab heading="Organisations">
                        <table class="table table-striped">
                            <tr>
                                <th>Organisation</th>
                                <th>Members</th>
                            </tr>
                            <tr ng-repeat="organisation in values(organisation) | orderBy: 'name'">
                                <td>{{ organisation.name }}</td>
                                <td>{{ membershipByOrganisation[organisation.id] }}</td>
                            </tr>
                        </table>
                    </tab>
                    <tab heading="People">
                        <table class="table table-striped">
                            <tr>
                                <th>Person</th>
                                <th>Affiliations</th>
                                <th>Addresses</th>
                                <th>Username</th>
                            </tr>
                            <tr ng-repeat="person in values(person) | orderBy: ['last_name','first_name']">
                                <td>{{ person.first_name + " " + person.last_name }}</td>
                                <td>{{ snapshotByPerson["membership"][person.id] }}</td>
                                <td>{{ snapshotByPerson["person-email"][person.id] }}</td>
                                <td>{{ snapshotByPerson["person-username"][person.id] }}</td>
                            </tr>
                        </table>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
